@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900");
@keyframes slideUp-after {
  0% {
    margin-bottom: 100px;
    margin-top: 100px; }
  100% {
    margin-bottom: 0;
    margin-top: 0; } }
@keyframes fadeIn-el {
  100% {
    opacity: 1; } }
html body .anim-delay-sm {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s; }
html body .anim-delay-md {
  animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s; }
html body .anim-delay-lg {
  animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s; }
html body .anim, html body .fade-in, html body .slide-up, html body .slide-up:before {
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
html body .fade-in {
  opacity: 0;
  animation-name: fadeIn-el;
  -o-animation-name: fadeIn-el;
  -ms-animation-name: fadeIn-el;
  -moz-animation-name: fadeIn-el;
  -webkit-animation-name: fadeIn-el; }
html body .slide-up:before {
  animation-delay: inherit;
  content: '';
  animation-name: slideUp-after;
  -o-animation-name: slideUp-after;
  -ms-animation-name: slideUp-after;
  -moz-animation-name: slideUp-after;
  -webkit-animation-name: slideUp-after;
  display: block;
  margin-bottom: 0;
  margin-top: 100px;
  opacity: 0; }

*:not(ul):not(ol) {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  min-width: 520px; }
  html body .center {
    text-align: center;
    margin: auto;
    position: relative; }
  html body .inline-list {
    list-style: none; }
    html body .inline-list > li {
      display: inline-block;
      padding: 10px; }
  html body .flex-column, html body .flex-row, html body .flex-center, html body .flex-between, html body .flex-around {
    display: flex; }
  html body .flex-column:not(.flex-reverse) {
    flex-direction: column; }
  html body .flex-column.flex-reverse {
    flex-direction: column-reverse; }
  html body .flex-row:not(.flex-reverse) {
    flex-direction: row; }
  html body .flex-row.flex-reverse {
    flex-direction: row-reverse; }
  html body .flex-center {
    align-items: center; }
  html body .flex-between {
    justify-content: space-between; }
  html body .flex-around {
    justify-content: space-around; }
  html body .padding-sm, html body .page-menu > li {
    padding: 10px; }
  html body .padding-md {
    padding: 30px; }
  html body .padding-lg {
    padding: 50px; }
  html body h1.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 7vw; }
  html body h2.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 3em; }
  html body h3.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 2em; }
  html body h4.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 1.5em; }
  html body h5.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 1.2em; }
  html body h6.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 1em; }
  html body p.ghostly-text {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -o-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -ms-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.75;
    font-size: 1em; }
  html body .bold {
    font-weight: 900; }
  html body a {
    color: #413FAC;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease; }
  html body a:hover {
    color: #08AC8B;
    font-weight: 700;
    text-decoration: underline; }
  html body > .wrapper {
    width: 100vw;
    max-width: 1024px;
    margin: auto;
    position: relative; }
  html body .section {
    height: 100vh;
    width: 100vw; }
  html body .page-header {
    text-align: left;
    color: white;
    padding: 40px;
    background: #6D69AC;
    z-index: 1000;
    position: relative;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75); }
  html body .page-menu {
    z-index: 1000;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 40px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    background: #6D69AC; }
    html body .page-menu *:hover {
      text-decoration: none; }
    html body .page-menu > li {
      display: inline-block;
      margin: 0 20px;
      text-transform: uppercase;
      opacity: 0.75;
      cursor: default; }
      html body .page-menu > li > ul {
        text-transform: initial;
        background: #EEEEEE;
        position: absolute;
        width: 210px;
        margin: 10px 0 0;
        padding: 0;
        opacity: 0;
        left: -1000%;
        border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -webkit-transition: opacity 500ms; }
        html body .page-menu > li > ul > li > a {
          display: inline-block;
          padding: 10px;
          width: 100%;
          color: #4b4781;
          font-weight: 500; }
        html body .page-menu > li > ul > li > a:hover {
          color: #383560;
          font-weight: 700; }
        html body .page-menu > li > ul > li:not(:last-of-type) {
          border-bottom: #413FAC 1px solid; }
      html body .page-menu > li:hover {
        opacity: 1; }
        html body .page-menu > li:hover > ul {
          opacity: 1;
          left: auto;
          height: auto; }
          html body .page-menu > li:hover > ul * {
            visibility: visible; }
    html body .page-menu, html body .page-menu ul, html body .page-menu li {
      list-style: none; }
    html body .page-menu a, html body .page-menu p, html body .page-menu span, html body .page-menu > li {
      color: #FFFFFF; }
  html .page-title {
    text-align: center;
    margin: auto;
    position: relative; }
  html .page-tagline {
    font-size: 14pt;
    text-align: center;
    margin: auto;
    position: relative;
    font-style: italic;
    font-weight: normal;
    opacity: 0.5; }

html {
  background: #FFFFFF; }
  html body#assignment2, html body#recipe2 {
    background-color: #9FA8DA; }
    html body#assignment2 .page-header, html body#recipe2 .page-header {
      padding: 20px; }
  html body#recipe2 {
    background-color: transparent; }
    html body#recipe2 .section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 90vh;
      height: auto; }
      html body#recipe2 .section#enjoy {
        height: 50vh;
        width: 100%; }
      html body#recipe2 .section .card {
        margin: 25vh 10% 30vh;
        padding: 40px;
        width: 50vw;
        max-width: 600px;
        min-width: 400px;
        align-self: center;
        border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.75);
        -o-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.75);
        -ms-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.75);
        background: #FFFFFF;
        transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        position: sticky;
        top: 30vh;
        letter-spacing: 1.2px; }
        html body#recipe2 .section .card ul {
          list-style-type: square; }
        html body#recipe2 .section .card > h3, html body#recipe2 .section .card h4, html body#recipe2 .section .card h5, html body#recipe2 .section .card h6 {
          opacity: 0.5; }
        html body#recipe2 .section .card:hover {
          box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5);
          -o-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5);
          -ms-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.5); }
    html body#recipe2 #recipe_bkg {
      background-image: url("../img/pie_bkg.jpeg");
      background-size: cover;
      height: 100vh;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: -1;
      filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      -moz-filter: blur(10px);
      -webkit-filter: blur(10px); }
  html body#recipe > .wrapper {
    font-family: Georgia, Garamond, serif;
    color: #000000;
    background: #FFCC00;
    padding: 10px; }
    html body#recipe > .wrapper h1, html body#recipe > .wrapper h2, html body#recipe > .wrapper h3, html body#recipe > .wrapper h4, html body#recipe > .wrapper h5, html body#recipe > .wrapper h6 {
      color: #A4A400;
      background-color: #F0F0F0;
      font-family: Century Gothic, Futura, Verdana, sans-serif; }
    html body#recipe > .wrapper .text-larger {
      font-size: 1.3em; }
    html body#recipe > .wrapper .this-page-path > li {
      background: #c8c800;
      border-right: blue solid 10px;
      padding: 5px 10px; }
    html body#recipe > .wrapper table {
      color: #FFFFFF;
      background-color: #CC9933;
      margin-top: 20px; }
      html body#recipe > .wrapper table, html body#recipe > .wrapper table th, html body#recipe > .wrapper table td {
        border-color: #FFFFFF; }
      html body#recipe > .wrapper table caption {
        background: #F0F0F0;
        color: #A4A400; }
      html body#recipe > .wrapper table th {
        background-color: #003366; }
      html body#recipe > .wrapper table td, html body#recipe > .wrapper table th {
        padding: 5px;
        border: 2px solid white; }
      html body#recipe > .wrapper table td:first-of-type {
        background-color: #003366; }

/*# sourceMappingURL=assignment2.css.map */
